* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
span {
  display: inline-block;
}
.cover_image-hidden{
  width: 100%;
  display: none;
}

.page-header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.889);
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 120px;
  margin-left: 0px;
  padding-right: 50px;
  max-height: auto;
}
.page-header-content {
  padding: 0;
  margin: 0;
}
.page-header-content a {
  color: rgb(206, 192, 252);
}
.page-header-content .arrow {
  margin: 0 13px;
}
.path {
  padding: 0;
  margin: 0;
  width: fit-content;
}
.page-header-content .crstitle {
  letter-spacing: -1px;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
  max-width: 700px;
}
.page-header-content .crsheadline {
  font-size: 20px;
  font-weight: 400;
  max-width: 650px;
  line-height: 26.6px;
}
.page-header-content .rate,
.page-header-content .authors {
  width: fit-content;
  margin-bottom: 9px;
}
.page-header-content .str-rate {
  margin-right: 10px;
}
.extra-data {
  width: fit-content;
  font-size: 12px;
  font-weight: 400;
}
.lst-update,
.lang {
  margin-right: 10px;
}

.lang-icon,
.sub-icon {
  margin-bottom: 3px;
  margin-right: 3px;
}
.buy-box{
  display: none;
}
.buy-box .cur-price{
  color: white;
}
.buy-box .gurantee{
  padding-bottom:7px ;
  color: white;
}
@media screen and (max-width : 920px) {
  .buy-box{
    display: inline;
  }
  .page-header-content .crstitle{
    font-size: 20px;
    width: 98%;
  }
  .page-header-content .crsheadline{
    font-size: 15px;
  }
  .page-header{
    padding: 2% 10%;
  }
  .cover_image-hidden{
    padding-top: 2%;
    display: inline-block;
    width: 100%;
  }
  .card{
    display: none;
  }
}